<div class="container">
  <div class="row justify-content-center">
    <h1>Liste des restaurants <%= link_to '<i class="fa-solid fa-circle-plus"></i>'.html_safe, new_restaurant_path %></h1>
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
         <%= link_to '<i class="fa-solid fa-square-pen"></i>'.html_safe, edit_restaurant_path(restaurant) %>
         <%= link_to '<i class="fa-solid fa-star"></i>'.html_safe, new_restaurant_review_path(restaurant) %>
         <%= link_to '<i class="fa-solid fa-eraser"></i>'.html_safe, restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
